.card {
    position: relative;
    cursor: pointer;
}

.card img {
    width: 100%;
    display: block;
}

.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
    height: 8.2rem;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
    box-shadow: 0px 25px 20px -10px rgba(0, 0, 0, 0.966);
    border-radius: 100px; 
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}
