.App {
  max-width: 80%;
  margin: 2% auto;
}

.title {
  margin: 0;
  margin-bottom: 2.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 300%;
}

p {
  font-size: 20px;
}

button {
  background: #0c07098a;
  color: #fff;
  padding: 6px 12px;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 1.5px;
}

button:hover {
  background-color: #961957d8;
  transform: scale(1.03,1.03);
  transition:0.3s;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 4%;
  grid-row-gap: 10%;
  margin-top: 4%;
}


@media all and (max-width: 900px) {
  .card-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 14%;
    grid-row-gap: 15%;
  }

  .title {
    margin: 12% 0;
  }

  button {
    margin: 2%;
  }
}

@media all and (max-width: 450px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 8%;
  }

  .title {
    font-size: 200%;
  }

  button {
    font-size: 0.7em;
    margin: 0;
  }
}
