
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&display=swap');


body {
  font-family: 'Amaranth', sans-serif;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  background-image: url("./img/fondo.jpg");
  color: white;
}